@using Repository.Concrete.Entities
@model IEnumerable<Customer>

@foreach (Customer c in Model)
{
    <tr>
        <td>@Html.ActionLink(c.Name, "CustomerOverview", new { id=c.Id } )</td>
        <td>@c.Company</td>
        <td>@c.Phone</td>
    </tr>
}
