@using Repository.Concrete.Entities
@model Car
@{
    ViewBag.Title = "Bil Tilføjet";
}

<h2>Bil Tilføjet</h2>
<div>
    Bil tilføjet
</div>
<div>
    @Html.ActionLink("Tilbage", "CustomerOverview", "Customer", new { id = Model.CustomerId }, new { @class = "btn btn-default" })
</div>
